body {
    margin: 0;
    background-color: lightblue;
    text-align: center;
    width: 100%;
    font-size: 16px;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.header {
    display: flex;
}

.logo {
    color: black;
}

.featured {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.gallery {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.product-container h2 {
    font-size: 1rem;
}

.product-container p {
    font-size: 0.8rem;
}

.product-container {
    max-width: 200px;
    max-height: 300px;
    text-align: center; 
    background-color: white;
    padding: 1rem;
    box-sizing: border-box; 
    
}

.product-image {
    max-width: 100px;
    height: auto;
    margin-top: 1rem;
}